In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
# import csv files to pandas DataFrame

engagement = pd.read_csv('takehome_user_engagement.csv', parse_dates=['time_stamp'])
users = pd.read_csv('takehome_users.csv', encoding = "ISO-8859-1")

In [3]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [4]:
engagement.head()

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1

In [5]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [6]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [7]:
logins = engagement.groupby(['user_id']).count()

In [8]:
print(logins.head(20))

         time_stamp  visited
user_id
1                 1        1
2                14       14
3                 1        1
4                 1        1
5                 1        1
6                 1        1
7                 1        1
10              284      284
11                1        1
13                1        1
14                1        1
17                1        1
19                2        2
20                7        7
21                1        1
22                1        1
23                1        1
24                1        1
25                2        2
27                1        1

In [9]:
logins3 = logins[logins['visited'] >= 3]

In [10]:
print(logins3.head(20))

         time_stamp  visited
user_id
2                14       14
10              284      284
20                7        7
33               18       18
42              342      342
43                8        8
50               17       17
53                9        9
59                3        3
60                8        8
63              362      362
69              521      521
74               59       59
77                3        3
80                8        8
81               78       78
82              205      205
87              104      104
95                5        5
126               5        5

In [11]:
logins3.shape

(2248, 2)

In [12]:
ids = np.arange(1,12001)

In [13]:
captured = np.zeros(12000, dtype=int)

In [14]:
y = pd.DataFrame(list(zip(ids, captured)), columns = ['ids', 'captured'])

In [15]:
for i in range(0, len(engagement)-2):
    if (engagement.user_id[i] == engagement.user_id[i+2]) & (engagement.time_stamp[i+2]-engagement.time_stamp[i] <= pd.Timedelta('7days')):
        index = engagement.user_id[i]-1
        y.iloc[index].captured = 1

In [16]:
print(y.head(20))

    ids  captured
0     1         0
1     2         1
2     3         0
3     4         0
4     5         0
5     6         0
6     7         0
7     8         0
8     9         0
9    10         1
10   11         0
11   12         0
12   13         0
13   14         0
14   15         0
15   16         0
16   17         0
17   18         0
18   19         0
19   20         1

In [17]:
# Convert time columns to datetime data types

users['creation_time'] = pd.to_datetime(users['creation_time'])
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'], unit='s')

In [18]:
# Fill null values for invited_by_user_id

users['invited_by_user_id'].fillna(0, inplace=True)

In [19]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null datetime64[ns]
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null datetime64[ns]
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            12000 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(3)
memory usage: 937.6+ KB

In [20]:
# pre-process categorical data

users2 = pd.get_dummies(users, columns = ['creation_source'], prefix = 'C')

In [21]:
# categorize invited by column

for i in range(0, len(users2['invited_by_user_id'])):
    if users2['invited_by_user_id'][i] > 1:
        users2['invited_by_user_id'][i] = 1

C:\Users\idptn\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [22]:
users2.describe()

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,C_GUEST_INVITE,C_ORG_INVITE,C_PERSONAL_PROJECTS,C_SIGNUP,C_SIGNUP_GOOGLE_AUTH
count,12000.00000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000
mean,6000.50000,0.249500,0.149333,141.884583,0.534750,0.180250,0.354500,0.175917,0.173917,0.115417
std,3464.24595,0.432742,0.356432,124.056723,0.498812,0.384412,0.478381,0.380765,0.379054,0.319537
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3000.75000,0.000000,0.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6000.50000,0.000000,0.000000,108.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9000.25000,0.000000,0.000000,238.250000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,12000.00000,1.000000,1.000000,416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
# compress organizational id between 0 and 1

users2['org_id'] = users2['org_id']/1000

In [24]:
users2['month'] = users2['creation_time'].dt.month

In [25]:
users2['year'] = users2['creation_time'].dt.year

In [26]:
print(users2.head())

   object_id       creation_time               name  \
0          1 2014-04-22 03:53:30     Clausen August
1          2 2013-11-15 03:45:04      Poole Matthew
2          3 2013-03-19 23:14:52  Bottrill Mitchell
3          4 2013-05-21 08:09:28    Clausen Nicklas
4          5 2013-01-17 10:14:20          Raw Grace

                        email last_session_creation_time  \
0    AugustCClausen@yahoo.com        2014-04-22 03:53:30
1      MatthewPoole@gustr.com        2014-03-31 03:45:04
2  MitchellBottrill@gustr.com        2013-03-19 23:14:52
3   NicklasSClausen@yahoo.com        2013-05-22 08:09:28
4          GraceRaw@yahoo.com        2013-01-22 10:14:20

   opted_in_to_mailing_list  enabled_for_marketing_drip  org_id  \
0                         1                           0   0.011
1                         0                           0   0.001
2                         0                           0   0.094
3                         0                           0   0.001
4                         0                           0   0.193

   invited_by_user_id  C_GUEST_INVITE  C_ORG_INVITE  C_PERSONAL_PROJECTS  \
0                 1.0               1             0                    0
1                 1.0               0             1                    0
2                 1.0               0             1                    0
3                 1.0               1             0                    0
4                 1.0               1             0                    0

   C_SIGNUP  C_SIGNUP_GOOGLE_AUTH  month  year
0         0                     0      4  2014
1         0                     0     11  2013
2         0                     0      3  2013
3         0                     0      5  2013
4         0                     0      1  2013

In [27]:
data = users2.drop(columns=['creation_time', 'last_session_creation_time', 'name', 'email', 'object_id'])

In [28]:
data = pd.get_dummies(data, columns = ['month', 'year'], prefix = 'C')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 24 columns):
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null float64
invited_by_user_id            12000 non-null float64
C_GUEST_INVITE                12000 non-null uint8
C_ORG_INVITE                  12000 non-null uint8
C_PERSONAL_PROJECTS           12000 non-null uint8
C_SIGNUP                      12000 non-null uint8
C_SIGNUP_GOOGLE_AUTH          12000 non-null uint8
C_1                           12000 non-null uint8
C_2                           12000 non-null uint8
C_3                           12000 non-null uint8
C_4                           12000 non-null uint8
C_5                           12000 non-null uint8
C_6                           12000 non-null uint8
C_7                           12000 non-null uint8
C_8                           12000 non-null uint8
C_9                           12000 non-null uint8
C_10                          12000 non-null uint8
C_11                          12000 non-null uint8
C_12                          12000 non-null uint8
C_2012                        12000 non-null uint8
C_2013                        12000 non-null uint8
C_2014                        12000 non-null uint8
dtypes: float64(2), int64(2), uint8(20)
memory usage: 609.5 KB

In [30]:
# Logistic Regression model

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [31]:
# Split into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(data, y['captured'])

In [32]:
# Create Logistic Regression model and train with training set

lr = LogisticRegression(solver='lbfgs')
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
# Create predictions and print score

y_pred = lr.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.86

In [34]:
# Print coefficients
print(lr.coef_)

[[ 0.00416778  0.10127302  1.43227141  0.12095935  0.19476503 -0.07380568
  -0.52387454  0.02938537  0.37346979  0.22077698  0.28868593  0.15910752
  -0.1192308  -0.79245373  0.13061514 -0.05580447  0.19938345  0.00416493
   0.03467756  0.03462983 -0.10461239  0.22175327  0.20104739 -0.42286069]]

In [36]:
# print coefficients with column names
coef_df = pd.DataFrame(zip(data.columns, lr.coef_[0]), columns=['feature', 'coefficient'])
coef_df = coef_df.sort_values(['coefficient'], ascending=False)
print(coef_df)

                       feature  coefficient
2                       org_id     1.432271
8         C_SIGNUP_GOOGLE_AUTH     0.373470
10                         C_2     0.288686
21                      C_2012     0.221753
9                          C_1     0.220777
22                      C_2013     0.201047
16                         C_8     0.199383
4               C_GUEST_INVITE     0.194765
11                         C_3     0.159108
14                         C_6     0.130615
3           invited_by_user_id     0.120959
1   enabled_for_marketing_drip     0.101273
18                        C_10     0.034678
19                        C_11     0.034630
7                     C_SIGNUP     0.029385
0     opted_in_to_mailing_list     0.004168
17                         C_9     0.004165
15                         C_7    -0.055804
5                 C_ORG_INVITE    -0.073806
20                        C_12    -0.104612
12                         C_4    -0.119231
23                      C_2014    -0.422861
6          C_PERSONAL_PROJECTS    -0.523875
13                         C_5    -0.792454